.select-box {
  max-width: 100%;
}

.para-details {
  font-size: smaller;
}

.para-src {
  font-size: smaller;
  text-align: right;
}

#histo {
  display: flex;
}

.L5, .L6 {
  margin: 0;
}

.L6 {
  text-indent: 10px;
}
