.para-details {
  font-size: smaller;
}

.para-src {
  font-size: smaller;
  text-align: right;
}

#histo {
  display: flex;
}

.L4, .L5, .L6 {
  margin: 0;
}

.L5 {
  text-indent: 10px;
}

.L6 {
  text-indent: 20px;
}
